<!DOCTYPE html>
<html>
<head>
  <title>Captainplanet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <% if current_user %>
      <%= link_to page_path('map') %>
    <% else %>
      <%= link_to new_user_session_path, 'Sign in' %>
      <%= link_to new_user_registration, 'Register' %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
